h1{
    display: flex;
    justify-self: flex-start;
    justify-content: center;
    color: rgb(84, 33, 113);
    font-weight:600;
    font-size: 300;
    width: 300px;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    background-color: whitesmoke;
}

#cell{
    border-color: black;
    border: solid black;
    width: 50px;
    height: 50px  
}

#newGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    height: 60px;
    width: 120px;
}
