#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: center;
    color: rgb(84, 33, 113);
    font-weight:600;
    font-size: 300;
    width: 300px;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
}


#gridContainer {
    display: grid;
    grid-template: repeat(numSquares, 1fr,)/repeat(numSquares,1fr);
    grid-template-columns:repeat(auto-fill, minmax(50px, 1fr));
    /*grid-template-columns:repeat(auto-fill, minmax(numSquares, 1fr));*/
    /*grid-template-rows: repeat(auto-fit,minmax(50px,1fr));
    /*justify-content: stretch;*/
    /*align-content: stretch;*/
    grid-gap: 0;
    /*grid-auto-flow: dense;*/
    background-color: whitesmoke;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    /*object-fit: fill;*/
}

#cell{
    border-color: black;
    border: solid black;
    display: flex;
    flex-flow: column;
    justify-items: center;
    flex-grow: auto;
    box-sizing: border-box;
    /*width: 100%;
    height: 100%;*/
    /*padding-bottom: 100%;*/
}

#newGridButton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 75px;
    width: 200px;
}




