#gridContainer {
    display: grid;
    grid-template-columns: auto, auto, auto;
    height: 600px;
    width: auto;
    border-color: black;
    border-radius: 2em;
    background-color: purple;
  
    
}

.div{
    border-color: black;
    width: 200px;
    height: 200px
}
